@using Automarket.Domain.Models;

@model Car

@{
    ViewData["Title"] = "GetCar";
}

<p>---------------------------------</p>
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Model: @Model.Model</p>
<p>Description: @Model.Description</p>
<p>Speed: @Model.Speed</p>
<p>Price: @Model.Price</p>
<p>CreateDate: @Model.CreateDate</p>
<p>TypeCar: @Model.TypeCar</p>
<p>---------------------------------</p>

